<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center"> Franz Joseph Haydn</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <figure>
      <img src="../asset/Haydn.png" />
      <figcaption><a href="https://upload.wikimedia.org/wikipedia/commons/0/05/Joseph_Haydn.jpg" target="_blank">Image Source</a></figcaption>
      </figure>
    </div>
    <div class="col-sm-9">
      <p>
        Franz Joseph Haydn (1732-1809) was an Austrian composer and one of the most influential figures in classical music. Often called the "Father of the Symphony" and the "Father of the String Quartet," Haydn's prolific output encompassed over 100 symphonies, numerous chamber music works, operas, and choral compositions. His music showcased a perfect blend of structural clarity, wit, and melodic inventiveness. Haydn's innovative approach laid the foundation for the classical style, and his works continue to be revered for their timeless beauty and enduring musical craftsmanship.
         <em class="apa-reference"><a href="https://en.wikipedia.org/wiki/Joseph_Haydn" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
