.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.calculator {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.display {
  font-style: normal;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  text-align: right;
}

.buttons {
  margin-top: 20px;

}

.row {
  display: flex;
  justify-content: center;
}

.button {
  background-color: bisque;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #f7f7f7;
}
