<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="..\assets\J._k._Rowling_2010.jpg" />
      </div>
      <div>
        <em>
          Photo by Daniel Ogren on <a class="attribution-link" href="https://upload.wikimedia.org/wikipedia/commons/5/5d/J._K._Rowling_2010.jpg" target="_blank">WIKIMEDIA</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is JK Rowling?</h1>
    <p>

      J.K. Rowling, born Joanne Rowling in 1965, is a British author renowned for creating the immensely popular Harry Potter series. Rowling's journey to success was marked by personal struggles and setbacks, but her determination and vivid imagination propelled her to become one of the most influential authors of our time. The magical world she crafted, complete with its own mythology, spells, and beloved characters, captivated readers of all ages and inspired a generation of fans. Beyond her wizarding world, Rowling has been involved in philanthropic efforts and advocacy for social issues. Her work and contributions have solidified her status as a literary icon and a symbol of imagination and perseverance.
    </p>
    <em><a href="https://www.jkrowling.com/about/" target="_blank" class="attribution-link">Biography</a></em>
  </div>
</div>
