<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Box 2, 44-46 Morningside Road</p>
      <p>Edinburgh EH10 4BF</p>
    </mat-card-content>
  </div>
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>info@jkrowling.com</p>
    </mat-card-content>
  </div>

</div>

